.fixed{
	position: fixed;
}

.clear{
	clear: both;
}

.linkedin-toolbox{

	bottom: 0; 
	/*border-top: 1px solid #000000; */
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.5);
	background-color: #ffffff; 
	z-index: 999; 
	padding: 5px;
	width: 100%;
	min-height: 100px;
	max-height: 100px;
	right: 0;
	font-family: sans-serif;

}

.linkedin-toolbox div{

float: left;
margin: 5px;

}

#arrow-right
{
	float: right;
}

#arrow-left, #arrow-right
{
	cursor: pointer;
}



#lkd-picture img
{
	border-radius: 80px;
}

#lkd-profile-output
{
	border: 0;
	float: left;
}

.lkd-tool-element div
{
	margin-right:8%;
}

#lkd-skills-output 
{
	display: none;
	max-width: 80%;
}

#lkd-skills-output li
{
	display: inline-block;
	padding: 7px;
}