.fixed{
	position: fixed;
}

.linkedin-toolbox{

	bottom: 0; 
	/*border-top: 1px solid #000000; */
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.5);
	background-color: #ffffff; 
	z-index: 999; 
	padding: 5px;
	width: 100%;
	min-height: 100px;
	max-height: 100px;
	float: left;
	right: 0;
	font-family: sans-serif;

}

.linkedin-toolbox table{
table-layout: auto !important;
border: none;
}

.linkedin-toolbox tr,
.linkedin-toolbox td,
.linkedin-toolbox th
{
	border: none;
	width: 30px;
}

#lkd-picture img
{
	border-radius: 80px;
}

#lkd-profile-output table
{
	border: 0;
	float: left;
}